.header_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  color: white;
  text-align: center;
  width: 80%;

  h1 {
    font-size: 70px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    @media screen and (max-width: 700px) {
      font-size: 50px;
    }
    @media screen and (max-width: 400px) {
      font-size: 40px;
    }
    img {
      height: auto;
      @media screen and (max-width: 1100px) {
        width: 600px;
      }
      @media screen and (max-width: 800px) {
        width: 500px;
      }
      @media screen and (max-width: 600px) {
        width: 350px;
      }
      @media screen and (max-width: 400px) {
        width: 250px;
      }
    }
  }
  .header_title_description {
    margin: 0 auto 5%;
    font-weight: 800;
    font-size: 60px;
    color: rgb(211, 56, 25);
    text-stroke: 1px black;
    -webkit-text-stroke: 1px rgb(215, 169, 67);
    @media screen and (max-width: 1100px) {
      font-size: 40px;
    }
    @media screen and (max-width: 600px) {
      font-size: 30px;
    }
  }
  .header_text {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 400;
    color: rgb(231 255 0);
    max-width: 80%;
    margin: 20px auto;
    @media screen and (max-width: 500px) {
      font-size: 20px;
    }
    @media screen and (max-width: 360px) {
      font-size: 18px;
    }
  }
  .header_title_link {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 20px;
    font-size: 22px;
    @media screen and (max-width: 450px) {
      flex-direction: column;
    }
    a {
      border-radius: 45px;
      padding: 30px 40px;
      font-weight: 600;
      text-decoration: none;
      white-space: nowrap;

      @media screen and (max-width: 850px) {
        padding: 20px 30px;
        font-size: 18px;
      }
      @media screen and (max-width: 450px) {
        padding: 20px 15px;
        font-weight: 500;
        font-size: 15px;
      }
      &:nth-child(1) {
        background-color: white;
        color: black;
      }
      &:nth-child(2) {
        background-color: #e52406;
        color: white;
      }
    }
  }
}
