header,
section {
  margin: 0 25px;
  @media screen and (max-width: 600px) {
    margin: 0 10px;
  }
}

body {
  padding-top: 25px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}
