.story_section {
  display: flex;
  flex-direction: row;
  padding: 100px 60px;
  column-gap: 110px;
  .story_section_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;

    h2 {
      font-size: 50px;
      font-weight: 800;
    }
    p {
      font-weight: 300;
      line-height: 1.5;
    }
  }
  .story_section_image {
    position: relative;
    height: fit-content;
    .image_point {
      position: absolute;
      width: 110px;
      height: 110px;
      background-color: red;
      border-radius: 50%;
      bottom: 3px;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
